<div class="cards">
  <% @cocktails.each do |c| %>
    <%= link_to cocktail_path(c) do %>
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
        url('<%= cl_image_path c.photo.key, crop: :fill %>')">
        <%= c.name %>
      </div>
    <% end %>
  <% end %>
</div>


